<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.explore.shading.dao.TaskMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.netease.explore.shading.domain.Task">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="date" property="date" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="checkpoint_date" property="checkpointDate" jdbcType="TIMESTAMP"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        date,
        status,
        type,
        checkpoint_date,
        note
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="task.id">
        INSERT INTO task (
            id,
            create_time,
            update_time,
            date,
            status,
            type,
            checkpoint_date,
            note
        ) VALUES (
            #{task.id,jdbcType=BIGINT},
            #{task.createTime,jdbcType=TIMESTAMP},
            #{task.updateTime,jdbcType=TIMESTAMP},
            #{task.date,jdbcType=TIMESTAMP},
            #{task.status,jdbcType=VARCHAR},
            #{task.type,jdbcType=VARCHAR},
            #{task.checkpointDate,jdbcType=TIMESTAMP},
            #{task.note,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="task.id">
        INSERT INTO task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="task.id!=null"> id,</if>
            <if test="task.createTime!=null"> create_time,</if>
            <if test="task.updateTime!=null"> update_time,</if>
            <if test="task.date!=null"> date,</if>
            <if test="task.status!=null"> status,</if>
            <if test="task.type!=null"> type,</if>
            <if test="task.checkpointDate!=null"> checkpoint_date,</if>
            <if test="task.note!=null"> note,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="task.id!=null">#{task.id,jdbcType=BIGINT},
            </if>
            <if test="task.createTime!=null">#{task.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="task.updateTime!=null">#{task.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="task.date!=null">#{task.date,jdbcType=TIMESTAMP},
            </if>
            <if test="task.status!=null">#{task.status,jdbcType=VARCHAR},
            </if>
            <if test="task.type!=null">#{task.type,jdbcType=VARCHAR},
            </if>
            <if test="task.checkpointDate!=null">#{task.checkpointDate,jdbcType=TIMESTAMP},
            </if>
            <if test="task.note!=null">#{task.note,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO task (
            id,
            create_time,
            update_time,
            date,
            status,
            type,
            checkpoint_date,
            note
        )VALUES
        <foreach collection="tasks" item="task" index="index" separator=",">
            (
            #{task.id,jdbcType=BIGINT},
            #{task.createTime,jdbcType=TIMESTAMP},
            #{task.updateTime,jdbcType=TIMESTAMP},
            #{task.date,jdbcType=TIMESTAMP},
            #{task.status,jdbcType=VARCHAR},
            #{task.type,jdbcType=VARCHAR},
            #{task.checkpointDate,jdbcType=TIMESTAMP},
            #{task.note,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE task
        <set>
            <if test="task.createTime != null"> create_time= #{task.createTime,jdbcType=TIMESTAMP},</if>
            <if test="task.updateTime != null"> update_time= #{task.updateTime,jdbcType=TIMESTAMP},</if>
            <if test="task.date != null"> date= #{task.date,jdbcType=TIMESTAMP},</if>
            <if test="task.status != null"> status= #{task.status,jdbcType=VARCHAR},</if>
            <if test="task.type != null"> type= #{task.type,jdbcType=VARCHAR},</if>
            <if test="task.checkpointDate != null"> checkpoint_date= #{task.checkpointDate,jdbcType=TIMESTAMP},</if>
            <if test="task.note != null"> note= #{task.note,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{task.id,jdbcType=BIGINT}
    </update>

<!--auto generated by codehelper on 2018-12-13-->
	<select id="findById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from task
    where id=#{id,jdbcType=BIGINT}
  </select>
</mapper>

